/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.debug {
    border: 1px solid red;
}

img {
    width: 100%;
    display: block;
}
/* GENERAL */

html {
    scroll-behavior: smooth;
    
}

:root {
    --color-bg-primary: #141922;
    --color-bg-secondary: #282828;
    --color-sidebar: #000000;
    --color-light: #FFFFFF;
    --color-contrast-text: #7D7F84;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    width: 100%;
}

/* UTILITY */

/* flex */
.d-flex {
    display: flex;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.align-items {
    align-items: center;
}

.align-content {
    align-content: center;
}

.justify-cnt {
    justify-content: center;
}

.justify-cnt-end {
    justify-content: flex-end;
}

.gap-navbar {
    gap: 20px;
}

.gap-card {
    gap: 10px;
}

.gap-card-container {
    gap: 15px;
}

/* text */

.text-center {
    text-align: center;
}

.text-contrast {
    color: var(--color-contrast-text);
    font-weight: 700;
}


/****** PAGE ******/

.wrapper {
    height: 100vh;
    /* overflow: hidden; */
}

.content {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: var(--color-bg-primary);
    position: relative;
}

/* HEADER */

.header {
    background-color: #0000004f;
    height: 100px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 260px;
    width: calc(100% - 200px);
}

.btn {
    border: 1px solid var(--color-light);
    border-radius: 40px;
    color: var(--color-light);
    padding: 14px 42px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    right: 80px;
    font-size: 0.9em;
    font-weight: 700;
}

/* SIDEBAR */

#sidebar img {
    width: 70%;
}

#sidebar div:first-child {
    padding-bottom: 20px;
}

#sidebar i.fa-solid {
    color: var(--color-contrast-text);
    font-size: 1.5em;
    padding: 5px 5px 5px 0;
}

#sidebar i.fa-solid.fa-square-plus {
    font-size: 3em;
}

#sidebar h3 {
    color: var(--color-light);
    text-transform: uppercase;
    font-size: 1em;
    padding-top: 20px;
}

#sidebar li {
    padding: 10px 0;
}

/* MAIN */

main {
    width: calc(100% - 260px);
    background-color:var(--color-bg-primary);
    padding: 120px 20px 20px 20px;
    overflow-y: auto;
}

/* SECTION NAVBAR */

.navbar ul {
    text-transform: uppercase;
    font-size: 0.9em;
}

/* SECTION ROW-1 */

.card {
    width: calc((100% / 6) - 15px);
    padding: 30px 0 30px 0;
}

.row h2 {
    color: var(--color-light);
    padding: 20px 0 10px 0 ;
    font-size: 1.6em;
}

.row h3 {
    color: var(--color-light);
    font-size: 1.1em;
    line-height: 1em;
    text-align: center;
    padding: 10px 0 0 0;
}

.row h4 {
    color: var(--color-contrast-text);
    font-size: 0.8em;
}

/* SECTION ROW-2 */

/* SECTION ROW-3 */

.circle {
    border-radius: 50%;
    overflow: hidden;
}

/* ID SPECIFIC */

#sidebar {
    width: 260px;
    height: 100%;
    background-color: var(--color-sidebar);
    padding: 20px;
    font-weight: 500;
    color: var(--color-contrast-text);
}

#toolbar {
    background-color: var(--color-bg-secondary);
    height: 100px;
}

/* RESPONSIVE SOLUCIONS */

@media screen and (max-width: 992px) {
    /* SECTION NAVBAR */

    /* SECTION ROW-1 */
    
    .card {
        width: calc((100% / 4) - 15px);
    }
    
}

@media screen and (max-width: 768px) {
    /* SECTION ROW-1 */
    
    .card {
        width: calc((100% / 2) - 15px);
    }
}

@media screen and (max-width: 560px) {

}